body {
    background: #DDDDDD;
}

.navbar {
    background-color: #1a2e87;
    color: white;
}

.page-container {
    margin-top: 75px;
}
#rosefireButton{
    background: #800000;
    color: white;
    margin: 60px auto;
    display: block;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}
#signOutButton{
    color: white;
}
.listFlex{
    display:flex;
    justify-content: space-around;
}
#projectTitle{
    text-align: center;
}
#projectStatus{
    text-align: center;
}
.myprojlist{
    
    display:flex; 
    justify-content: end;
    justify-items: baseline;
    align-items: baseline;
    
}
.centerlist{
    margin-top:0.75rem;
    padding: 20px;
}