body {
    background:#DDDDDD;
}

.navbar {
    background-color: #1a2e87;
    color: white;
}

.page-container {
    margin-top: 75px;
}
#rosefireButton{
    background: #800000;
    color: white;
    margin: 60px auto;
    display: block;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}
#signOutButton{
    color: white;
}
.listFlex{
    display:flex;
    justify-content: space-around;
}
#projectTitle{
    text-align: center;
    padding: 30px;
}
#projectStatus{
    text-align: center;
    border-radius: 25px;
    background: #adadad;
    padding: 20px;
}
.myprojlist{
    
    display:flex; 
    justify-content: end;
    justify-items: baseline;
    align-items: baseline;
    
    
    
}
.centerlist{
    margin-top:0.75rem;
    padding: 20px;
}
#taskhead{
    text-align: center;
}

#task{
    
    border-radius: 25px;
    background: #adadad;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#material{
    border-radius: 25px;
    background: #adadad;
    padding: 20px;
    
}


.bigCheck{
    transform: scale(2);
}

.addbutton{
    background-color: transparent;
    height: 20px;
    width: 90px;
}
/* #taskList{
    text-align: center;
    justify-items: center;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
} */
.card-header{
    background-color: #DDDDDD !important;
}
#projectPhoto{
    max-height: 300px;
    width: auto;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  #materialList,#taskList{
    border-radius: 25px;
  }
  .listphoto{
     height: 400px;
     width: auto;
  }
  .button{
      background-color: #1a2e87;
      color: white;
      border-radius: 25px;
  }
  .animate{
      animation: fadeIn 0.75s;
  }
  @keyframes fadeIn {
      from{
          opacity:0;
          transform: rotateX(-10deg);
      }
      to{
          opacity:1;
          transform: rotateX(0deg);
      }
      
  }